.main {
  padding-top: 60px;
  padding-bottom: 80px;
  flex: 1 0 auto;
  min-height: calc(100vh - 180px);
}

.custom-center-block {
  display: block;
}

.custom-text-block {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.custom-button-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__header-container {
  margin-bottom: 60px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.main__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.main__title-author-name {
  position: relative;
}

.main__author-remove-btn {
  position: absolute;
  top: 0;
  right: -15px;
  background: none;
  text-decoration: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url("../../images/icons8-delete-16.png");
}

.link {
  text-decoration: none;
  transition: opacity 0.2s;
}
.link:hover {
  opacity: 0.8;
}