.card-list {
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: auto;
  grid-gap: 36px;
  margin-bottom: 52px;
}

@media (max-width: 1280px) {
  .card-list {
    grid-gap: 18px;
    grid-template-columns: repeat(3, minmax(310px, 364px));
  }
}

@media (max-width: 1023px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-evenly;
  }
}

.card-list_column {
  grid-template-columns: 1fr;
}